<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Onficina</title>
    
</head>
<body class="bg-gray-900">

    <div class="flex flex-col items-center justify-center min-h-screen px-4">
        <div class="mb-8 text-center">
            <a th:href="@{/}" class="inline-flex items-center space-x-2">
                
            <img src="/images/logo-horizontal.svg" alt="logo onficina" class="!h-12 w-32">
          
            </a>
            <!-- <p class="text-gray-500">Sua Oficina Online</p> -->
        </div>

        

        <main layout:fragment="conteudo" class="w-full max-w-md p-8 space-y-6 bg-white rounded-xl shadow-lg ">
            </main>
    </div>

</body>
</html>