<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" th:href="@{/css/style.css}" /> -->
  <title>Onficina</title>
</head>


<body>
  <div th:fragment="header">
    <!-- Header -->
<header
  class="fixed top-0 left-0 right-0 z-50 flex items-center justify-between bg-gradient-to-r from-[#1B1F27]/50 to-[#1B1F27]/90 backdrop-blur-lg px-4 transition-all duration-300 h-14"
  :class="sidebarOpen ? 'md:ml-0' : 'md:ml-0'">

      <!-- Botao Hamburger -->
      <div id="start" class="flex items-center space-x-4">
        
      <button @click="sidebarOpen = !sidebarOpen" type="button"
  class="p-2 text-gray-300 hover:bg-gray-700 rounded-full">
  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
  </svg>
</button>

        <!-- Icone e nome sistema -->
        <a th:href="@{/painel}">
          <div class="flex items-center">
            <img src="/images/logo-horizontal.svg" alt="logo onficina" class="!h-12 w-32" />
          </div>
        </a>
      </div>

      <!-- Usuário e login/logout -->
      <div class="hidden items-center md:flex gap-2">

        <div class="hidden items-center md:flex" th:fragment="usuariologinlogout" id="usuariologinlogout"
          hx-swap-oob="true">
          <!-- botao login -->
          <div sec:authorize="!isAuthenticated()">
            <a th:hx-get="@{/login}" hx-target="#main" hx-swap="outerHTML" hx-push-url="true"
              class="ml-5 rounded-lg border-2 border-gray-600 bg-gray-600 px-8 py-2 text-white shadow-md hover:bg-white hover:text-gray-600">
              Login </a>
          </div>
          <!-- nome do usuario -->
          <div sec:authorize="isAuthenticated()"
            th:with="nomeUsuario = ${@usuarioService.findNomeByEmail(#authentication.principal.username)}">
            <button class="p-2 hover:bg-gray-700 rounded-full">
              <div class="flex items-center">
                <span
                  class="flex items-center justify-center w-8 h-8 rounded-full bg-blue-500 text-white text-sm font-semibold uppercase"
                  th:text="${nomeUsuario.substring(0,1)}">
                </span>
              </div>
            </button>

          </div>
          <!-- botao logout -->
          <div sec:authorize="isAuthenticated()">
            <a th:hx-post="@{/logout}" hx-target="#main" hx-swap="outerHTML" hx-push-url="true"
              class="ml-5 rounded-lg border-2 border-gray-600 bg-gray-600 px-8 py-2 text-white shadow-md hover:bg-white hover:text-gray-600">
              Logout </a>
          </div>
        </div>

        <!-- Botao Usuario -->
        <div class="mr-1 text-gray-300 md:hidden">
          <button id="menu-usuario-btn" type="button" class="hamburger z-40 block focus:outline-none md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
              class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0" />
            </svg>
          </button>

        </div>
    </header>
  </div>
</body>
</html>