<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <title>Onficina</title>
</head>

<body>

<aside th:fragment="sidebar" 
  class="fixed h-full top-5 left-0 z-30 bg-gray-900 text-gray-400 transition-all duration-300 overflow-y-auto"
  :class="sidebarOpen ? 'w-72' : 'w-20'">
  <div class="h-full pl-3 flex">
    <th:block th:replace="~{layout/fragments/menu :: menu}"></th:block>
  </div>
</aside>
</body>

</html>